# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
*.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/